.App {
  max-width: 640px;
  width: 100%;
  margin: 10px auto;
  background: black;
  overflow: hidden;
  position: relative;
  select {
    border-radius: 10px;
    // background: black;
  }
  /*
  #f8d340
  #f571b6
  */
}
